.MuiFormLabel-root.Mui-focused {
    color: #999 !important;
}

.manager-radio-form {
    margin-left: 8px;
}

.label {
    font: {
        weight: 700 !important;
        size: 15px !important;
    }
}
