.title {
    text-align: center;
    font: {
        family: 'Roboto', sans-serif;
        weight: 700;
        size: 42px;
    }
    margin: 70px 0;

    @media (max-width: 720px) {
        margin: 10px 0;
    }
}
